<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>haircut-server</display-name>
  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>com.haircut.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.haircut.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.haircut.servlet.ShopServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopServlet2</servlet-name>
    <servlet-class>com.haircut.servlet.ShopServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopServlet3</servlet-name>
    <servlet-class>com.haircut.servlet.ShopServlet3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.haircut.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.haircut.servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.haircut.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.haircut.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.haircut.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopCollectServlet</servlet-name>
    <servlet-class>com.haircut.servlet.ShopCollectServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ReceiveImgServlet</servlet-name>
    <servlet-class>com.haircut.servlet.ReceiveImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/api/city</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/api/shop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopServlet2</servlet-name>
    <url-pattern>/api/shop2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopServlet3</servlet-name>
    <url-pattern>/api/shop3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/api/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/api/goods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/api/collect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/api/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/api/order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/api/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCollectServlet</servlet-name>
    <url-pattern>/api/shopcollect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveImgServlet</servlet-name>
    <url-pattern>/api/receiveimage</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>